{
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "jsxSingleQuote": false,
    "printWidth": 140,
    "semi": true,
    "useTabs": false,
    "singleQuote": true,
    "tabWidth": 4,
    "endOfLine": "auto",
    "trailingComma": "all"
}
  